            <div class="header-clear-large"></div>
            
            <div class="content">                
                <div class="page-login full-bottom" id = "loginPanel">
                    <div class="login-input mt30">
                        <i class="fa fa-user"></i>
                        <input type="text" id = "userName">
                    </div>
                    <div class="login-password">
                        <i class="fa fa-lock"></i>
                        <input type="password" id = "password">
                    </div>
                    
                    
                    <a href="#" class="login-create" onclick = "switchToForgetPassword();"><i class="fa fa-eye"></i> Forget Password</a>
                    <div class="clear"></div>
                        <a href="#" class="login-button button button-small button-green button-fullscreen full-bottom" onclick = "login();">Login</a>
                    <div class="clear"></div>
                </div>


                <div class="page-login full-bottom" style="display:none" id = "forgetPasswordPanel">
                    <div class="login-input mt30">
                        <i class="fa fa-user"></i>
                        <input type="text" id = "forgotPasswordUserName">
                    </div>
                        <a href="#" class="login-button button button-small button-green button-fullscreen full-bottom" onclick = "forgetPassword();">Forget Password</a>
                    <div class="clear"></div>
                        <a href="#" class="login-create" onclick = "backToLogin();"></i>Back To Login Page</a>

                </div>



