                <div class="header-clear"></div>
                
                <h4 class="left-text uppercase mt20 tipsheader"><%= langPack.tips_listing_header %></h4>            
                <p class="left-text tipsc">
                       <%= langPack.tips_listing_sub_header %>
                </p>
                <div class="container" id = "newListing">
                    


                </div>
                <div id = "newsDetails">
                    




                </div>
                </div>