                    <a class="menu-item show-submenu submenu-active" href="#">
                        <i class="fa fa-home bg-red-dark"></i>
                        <em><%= langPack.traning_plan_table_name_47_table_name %></em>
                    </a>
                    <div class="submenu submenu-active">
                        <a class="submenu-item submenu-item-active" onclick = "contentSwaper('ABOUT_US')">
                            <i class="fa fa-angle-right"></i><em>   <%= langPack.menu_table_name_11_table_name %>         </em><i class="fa fa-circle"></i>
                        </a>

                        <a class="submenu-item submenu-item-active" onclick = "contentSwaper('FITNESS_PROFILE')">
                            <i class="fa fa-angle-right"></i><em>   <%= langPack.menu_table_name_2_table_name %>         </em><i class="fa fa-circle"></i>
                        </a>
                        <!--
                        <a class="submenu-item submenu-item-active" onclick = "contentSwaper('RUNNING_PROFILE')">
                            <i class="fa fa-angle-right"></i><em>   <%= langPack.menu_table_name_3_table_name %>         </em><i class="fa fa-circle"></i>
                        </a>
                        -->
                        <a class="submenu-item submenu-item-active" onclick = "contentSwaper('TRANNING_PLAN')">
                            <i class="fa fa-angle-right"></i><em>   <%= langPack.menu_table_name_7_table_name %>          </em><i class="fa fa-circle"></i>
                        </a>

                        <a class="submenu-item submenu-item-active" onclick = "contentSwaper('ENTER_LOG')">
                            <i class="fa fa-angle-right"></i><em>   <%= langPack.menu_table_name_0_table_name %>          </em><i class="fa fa-circle"></i>
                        </a>

                        <a class="submenu-item submenu-item-active" onclick = "contentSwaper('VIEW_LOG')">
                            <i class="fa fa-angle-right"></i><em>   <%= langPack.menu_table_name_1_table_name %>          </em><i class="fa fa-circle"></i>
                        </a>

                        <a class="submenu-item submenu-item-active" onclick = "contentSwaper('TIPS')">
                            <i class="fa fa-angle-right"></i><em>   <%= langPack.menu_table_name_5_table_name %>        </em><i class="fa fa-circle"></i>
                        </a>

                        <a class="submenu-item submenu-item-active" onclick = "contentSwaper('NEW_LISTING')">
                            <i class="fa fa-angle-right"></i><em>   <%= langPack.menu_table_name_6_table_name %>        </em><i class="fa fa-circle"></i>
                        </a>

                        <a class="submenu-item submenu-item-active" onclick = "contentSwaper('MESSAGE_BOARD')">
                            <i class="fa fa-angle-right"></i><em>   <%= langPack.menu_table_name_8_table_name %>          </em><i class="fa fa-circle"></i>
                        </a>
                        <a class="submenu-item submenu-item-active" onclick = "contentSwaper('USER_PROFILE')">
                            <i class="fa fa-angle-right"></i><em>   <%= langPack.menu_table_name_9_table_name %>          </em><i class="fa fa-circle"></i>
                        </a>
                        <a class="submenu-item submenu-item-active" onclick = "logout()">
                            <i class="fa fa-angle-right"></i><em>   <%= langPack.traning_plan_table_name_48_table_name %>          </em><i class="fa fa-circle"></i>
                        </a>


                        <a class="submenu-item submenu-item-active" onclick = "changeLangWithContentSwapper()">
                            <i class="fa fa-angle-right"></i><em id = "langButtonName">   <%= langPack.menu_table_name_10_table_name %>          </em><i class="fa fa-circle"></i>
                        </a>
                    </div>
