                <div class="header-clear"></div>
               	<div class="tdesc">
					<i class="fa fa-tag lsdd" aria-hidden="true"></i> <%= langPack.fitness_profile_table_name_8_table_name %>
					<i class="fa fa-tag temd" aria-hidden="true"></i> <%= langPack.fitness_profile_table_name_9_table_name %>
					<i class="fa fa-tag intd" aria-hidden="true"></i> <i class="fa fa-list-ul" aria-hidden="true"></i> <%= langPack.fitness_profile_table_name_10_table_name %>

				</div>

				<h4 class="left-text uppercase mt20 tipsheader"><%= langPack.fitness_profile_header %></h4>
               <input type="button" class="buttonst" value="<%= langPack.menu_table_name_training_plan_0_table_name %>" onclick = "checkFitness()">
				   <div class="container">
					  <div class="container-fluid">
					  	<div id = "tranningPlanPanel">
						  	<div id = "tranningPlanAccordion">




						  	</div>
						</div>



					</div>
				</div>
