            <div class="header-clear-large"></div>
                Reset Password
                <div class="page-login full-bottom" id = "resetPasswordPanel">

                    <div class="login-input mt30">
                        Password :
                        <input type="password" id = "resetPassword">
                    </div>

                    <div class="login-input mt30">
                        Confirm Password :
                        <input type="password" id = "confirmPassword">
                    </div>

                        <a href="#" class="login-button button button-small button-green button-fullscreen full-bottom" onclick = "doResetPassword();">Reset Password</a>
                    <div class="clear"></div>

                </div>


