                <div class="header-clear"></div>

				<h4 class="left-text uppercase mt20 tipsheader"><%= langPack.view_log_header %></h4>
				<p class="left-text tipsc">
						<%= langPack.view_log_sub_header %>
                <div class="container">

                  <div id="runningProfile">
                  <p class="left-text tipsc" style="font-weight: bold;"><%= langPack.view_log_table_name_11_table_name %>

                  <!-- Weekly Mileage in the past month -->
                  <div class="formFieldWrap">
                  <label class="field-title contactNameField" for="contactNameField"  style="float: left; margin-right: 10px;">
                  <%= langPack.view_log_table_name_8_table_name %><span>*</span>
                  </label>
                  <div id="WEEKLY_MILEAGE_IN_THE_PAST_MONTH"  style="float: left;"></div>
                    <!--input type="text" name="contactNameField" value="" class="contactField requiredField" id="WEEKLY_MILEAGE_IN_THE_PAST_MONTH"-->
                  </div>
                  <!-- Weekly Mileage in the last week -->

                  <!-- Weekly LSD Pace in the last month -->
                  <div class="formFieldWrap">
                  <label class="field-title contactNameField" for="contactNameField" style="float: left; margin-right: 10px;">
                  <%= langPack.view_log_table_name_9_table_name %><span>*</span>
                  </label>
                  <div id="LSD_PACE_IN_THE_PAST_MONTH"  style="float: left;"></div>
                  <!--input type="text" name="contactNameField" value="" class="contactField requiredField" id="LSD_PACE_IN_THE_PAST_MONTH"-->
                  </div>
                  <!-- Weekly LSD Pace in the last month -->

                  <div class="clearfix"></div>
                  <!-- Your longest run in the last month -->
                  <div class="formFieldWrap">
                  <label class="field-title contactNameField" for="contactNameField" style="float: left; margin-right: 10px;">
                  <%= langPack.view_log_table_name_10_table_name %><span>*</span>
                  </label>
                  <div id="LONGEST_LSD_MILEAGE_IN_THE_PAST_MONTH"  style="float: left;"></div>
                  <!--input type="text" name="contactNameField" value="" class="contactField requiredField" id="LONGEST_LSD_MILEAGE_IN_THE_PAST_MONTH"-->
                  </div>
                  <!-- Your longest run in the past month -->
                  </div>


				          <!-- table -->
				          <div class="container-fluid" id = "mainLogTable">

                  </div>
                </div>
