                <div class="header-clear"></div>
                
				<h4 class="left-text uppercase mt20 tipsheader">View Log</h4>            
				<!-- tim add -->
				<div class="tdesc">
					<i class="fa fa-tag lsdd" aria-hidden="true"></i> LSD 
					<i class="fa fa-tag temd" aria-hidden="true"></i> TEMPO 
					<i class="fa fa-tag intd" aria-hidden="true"></i> <i class="fa fa-list-ul" aria-hidden="true"></i> INTERVAL 
				</div>
				<!-- tim add -->
				<p class="left-text tipsc">
                        View Log
                </p>
                




			<div class="container">
				  <div class="container-fluid" id="mainLogTable">
					  <div>Week :7 2016-06-04</div>
					  <section id="no-more-tables">
						  <table class="table-bordered table-striped table-condensed cf" id="intervalTableMain">
							  <thead class="cf">
								  <tr>
									  <th class="numeric">Round</th>
									  <th class="numeric">距離</th>
									  <th class="numeric">步速</th>
									  <th class="numeric">Rest</th></tr>
							  </thead>
							  <tbody id="intervalTable">
								  <tr>
								  <td class="tdheight_d tdh" data-title="Day1 2016-05-21"></td>
								  <td class="tdheight_d" data-title="MILEAGE"><i class="fa fa-tag lsdd" aria-hidden="true"></i> 2</td>
								  <td class="tdheight_d" data-title="PACE"><i class="fa fa-tag lsdd" aria-hidden="true"></i> 00:05:00</td>
								  </tr>

								  <tr>
								  <td class="tdheight_d tdh" data-title="Day2 2016-05-22"></td>
								  <td class="tdheight_d" data-title="MILEAGE"><i class="fa fa-tag temd" aria-hidden="true"></i> 2</td>
								  <td class="tdheight_d" data-title="PACE"><i class="fa fa-tag temd" aria-hidden="true"></i> 00:05:00</td>
								  </tr>

								  <tr>
								  <td class="tdheight_d tdh" data-title="Day3 2016-05-23"></td>
								  <td class="tdheight_d" data-title="MILEAGE"><i class="fa fa-tag intd" aria-hidden="true"></i> 2</td>
								  <td class="tdheight_d" data-title="PACE"><i class="fa fa-tag intd" aria-hidden="true"></i> 00:05:00</td>
								  </tr>

								</tbody>
								</table>
						</section>
					</div>
				</div>
